<div class="movies_wrapper" [@opacityAnimation] = "state">
    <mat-card class="movies_wrapper__header" >
        <mat-form-field class="movies_wrapper__header__search">
            <mat-label>Название фильма</mat-label>
            <input matInput [(ngModel)]="name" (ngModelChange)="searchMovies()">
        </mat-form-field>
    </mat-card>
    <div *ngIf="!loading && getPageSize() !== 0" class="movies_wrapper__list">
        <card *ngFor="let movie of getListOfMovies(); let i = index" [movie]=movie></card>
    </div>
    <div *ngIf="getPageSize() === 0" class="movies_wrapper__no_item">
        <h2 class="movies_wrapper__no_item__title">По запросу "{{name}}" ничего не найдено</h2>
        <img class="movies_wrapper__no_item__img" src="assets/search.svg" alt="search">
    </div>
    <mat-card *ngIf="getPageSize() !== 0" class="movies_wrapper__footer">
        <mat-paginator [length]="getPageSize()"
            [pageSize]="getMovieLength()"
            (page)="pageEvent = turnPage($event)">
        </mat-paginator>
    </mat-card>
</div>