<div class="favorite">
    <div class="favorite__item">
        <div class="favorite__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="favorite__item__descr">
            <h1 class="favorite__item__descr__name">Название фильма</h1>
            <div class="favorite__item__descr__add">
                <h2 class="favorite__item__descr__add__country">Страна</h2>
                <h2 class="favorite__item__descr__add__year">Год выхода</h2>
                <h2 class="favorite__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="favorite__item__descr__del">- Удалить из избранного</a>
        </div>
    </div>
    <div class="favorite__item">
        <div class="favorite__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="favorite__item__descr">
            <h1 class="favorite__item__descr__name">Название фильма</h1>
            <div class="favorite__item__descr__add">
                <h2 class="favorite__item__descr__add__country">Страна</h2>
                <h2 class="favorite__item__descr__add__year">Год выхода</h2>
                <h2 class="favorite__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="favorite__item__descr__del">- Удалить из избранного</a>
        </div>
    </div>
    <div class="favorite__item">
        <div class="favorite__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="favorite__item__descr">
            <h1 class="favorite__item__descr__name">Название фильма</h1>
            <div class="favorite__item__descr__add">
                <h2 class="favorite__item__descr__add__country">Страна</h2>
                <h2 class="favorite__item__descr__add__year">Год выхода</h2>
                <h2 class="favorite__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="favorite__item__descr__del">- Удалить из избранного</a>
        </div>
    </div><div class="favorite__item">
        <div class="favorite__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="favorite__item__descr">
            <h1 class="favorite__item__descr__name">Название фильма</h1>
            <div class="favorite__item__descr__add">
                <h2 class="favorite__item__descr__add__country">Страна</h2>
                <h2 class="favorite__item__descr__add__year">Год выхода</h2>
                <h2 class="favorite__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="favorite__item__descr__del">- Удалить из избранного</a>
        </div>
    </div>   
    <div class="favorite__item">
        <div class="favorite__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="favorite__item__descr">
            <h1 class="favorite__item__descr__name">Название фильма</h1>
            <div class="favorite__item__descr__add">
                <h2 class="favorite__item__descr__add__country">Страна</h2>
                <h2 class="favorite__item__descr__add__year">Год выхода</h2>
                <h2 class="favorite__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="favorite__item__descr__del">- Удалить из избранного</a>
        </div>
    </div>
    <div class="favorite__item">
        <div class="favorite__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="favorite__item__descr">
            <h1 class="favorite__item__descr__name">Название фильма</h1>
            <div class="favorite__item__descr__add">
                <h2 class="favorite__item__descr__add__country">Страна</h2>
                <h2 class="favorite__item__descr__add__year">Год выхода</h2>
                <h2 class="favorite__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="favorite__item__descr__del">- Удалить из избранного</a>
        </div>
    </div>
    <div class="favorite__item">
        <div class="favorite__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="favorite__item__descr">
            <h1 class="favorite__item__descr__name">Название фильма</h1>
            <div class="favorite__item__descr__add">
                <h2 class="favorite__item__descr__add__country">Страна</h2>
                <h2 class="favorite__item__descr__add__year">Год выхода</h2>
                <h2 class="favorite__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="favorite__item__descr__del">- Удалить из избранного</a>
        </div>
    </div><div class="favorite__item">
        <div class="favorite__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="favorite__item__descr">
            <h1 class="favorite__item__descr__name">Название фильма</h1>
            <div class="favorite__item__descr__add">
                <h2 class="favorite__item__descr__add__country">Страна</h2>
                <h2 class="favorite__item__descr__add__year">Год выхода</h2>
                <h2 class="favorite__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="favorite__item__descr__del">- Удалить из избранного</a>
        </div>
    </div>   
</div>
