.content
    display: grid
    grid-template-rows: 70px 1fr 60px
    grid-row-gap: 10px
    margin: 0 auto
    padding-top: 84px
    padding-bottom: 20px
    justify-items: center
    align-items: center
    min-height: calc(100% - 104px)
    width: 1200px

    @media only screen and (max-device-width : 1024px)
        width: calc(100% - 20px)

    .list__header
        width: 100%
        padding: 0
        
        .example-full-width
            width: calc(100% - 20px)
            margin: 10px
            margin-bottom: 0px

    .list
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr))
        grid-gap: 10px
        width: 100%

    img
        height: 200px
        width: auto

// .up
//     position: fixed
//     bottom: 20px
//     right: 20px