<div class="list">
    <div *ngFor="let film of listOfFilmsService.list.results; let i = index" class="list__item">
        <div class="list__item__photo">
            <img [src]="'https://image.tmdb.org/t/p/w200/'+film.poster_path" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">{{film.title}}</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">{{film.original_language}}</h2>
                <h2 class="list__item__descr__add__year">{{film.release_date}}</h2>
                <h2 class="list__item__descr__add__genre">{{film.genre_ids}}</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
</div>
