.list
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr))
    grid-gap: 10px
    
    margin: 104px auto
    margin-bottom: 30px


    @media only screen and (max-device-width : 1024px)
        width: calc(100% - 20px)

    @media only screen and (min-width : 1824px)
        width: 1200px

// mat-card
//     width: 300px

img
    height: 200px
    width: auto

.preloader
    width: 128px
    height: 128px
    display: block
    position: fixed
    top: 50%
    left: 50%
    margin-top: -64px
    margin-left: -64px