<div class="list">
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
    <div class="list__item">
        <div class="list__item__photo">
            <img src="assets/photo.jpg" alt="">
        </div>
        <div class="list__item__descr">
            <h1 class="list__item__descr__name">Название фильма</h1>
            <div class="list__item__descr__add">
                <h2 class="list__item__descr__add__country">Страна</h2>
                <h2 class="list__item__descr__add__year">Год выхода</h2>
                <h2 class="list__item__descr__add__genre">Жанр</h2>
            </div>
            <a class="list__item__descr__favorite">+ Добавить в избранное</a>
        </div>
    </div>
</div>
