<section class="content">
    <mat-card class="list__header">
        <mat-form-field class="example-full-width">
            <mat-label>Название фильма</mat-label>
            <input matInput [(ngModel)]="name" #nameInput="ngModel" (ngModelChange)="searchFilm()">
        </mat-form-field>
    </mat-card>
    <div *ngIf="!loading" class="list">
        <mat-card *ngFor="let film of listOfFilmsService.list.results; let i = index">
            <mat-card-title-group>
                <mat-card-title>{{film.title}}</mat-card-title>
                <mat-card-subtitle>
                    {{film.release_date.slice(0, 4) + " г."}}<br>{{getGenres(film)}}
                </mat-card-subtitle>
                <img mat-card-lg-image [src]="'https://image.tmdb.org/t/p/w200/'+film.poster_path" [alt]="film.title">
            </mat-card-title-group>
            <mat-card-actions align="end">
                <button mat-button>+ Добавить в избранное</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-spinner *ngIf="loading" class="preloader"></mat-spinner>
    <mat-card class="list__header">
        <mat-paginator [length]="listOfFilmsService.list.total_results"
            [pageSize]="listOfFilmsService.list.results.length"
            (page)="pageEvent = turnPage($event)">
        </mat-paginator>
    </mat-card>
</section>

<!-- <button mat-fab color="primary" class="up" aria-label="Example icon button with a delete icon">
    <mat-icon>north</mat-icon>
</button> -->



