<section class="favorite_wrapper" [@opacityAnimation] = "state">
    <div *ngIf="!loading" class="favorite_wrapper__list">
        <card *ngFor="let movie of getFavoriteMovies(); let i = index" [movie]=movie [justDel]="true"></card>
    </div>
    <div *ngIf="getFavoriteMovies().length === 0" class="favorite_wrapper__no_item">
        <h2 class="favorite_wrapper__no_item__title">Вы пока не добавили ни одного фильма в список</h2>
        <img class="favorite_wrapper__no_item__img" src="assets/search.svg" alt="search">
    </div>
    
</section>