<header>
  <div class="header__img_container">
    <img src="assets/logo.png" alt="DrestX"/>
  </div>
  <nav class="header__nav">
    <div class="header__nav__item">
      <img src="assets/list.svg" alt="">
      <a href="" >
        Список фильмов
      </a>
    </div>
    <div class="header__nav__item">
      <img src="assets/star.svg" alt="">
      <a href="favorite">
        Избранное
      </a>
    </div>
    <div class="header__nav__search">
      <input type="text" placeholder="Название фильма">
      <img src="assets/search.svg" alt="">
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
