<div class="film-wrapper">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>Название</mat-card-title>
            <mat-card-subtitle>
                <ul>
                    <li>
                        Год выхода:
                    </li>
                    <li>
                        Жанры:
                    </li>
                    <li>
                        Страна:
                    </li>
                    <li>
                        Рейтинг:
                    </li>
                </ul>
                <h2>Описание</h2>
                <p>
                    Много текста. Много текста. Много текста. Много текста. Много текста. Много текста. Много текста. Много текста. Много текста. Много текста. Много текста. Много текста.
                </p>
            </mat-card-subtitle>
            <img mat-card-lm-image [src]="'https://image.tmdb.org/t/p/w200/'+'tAQeMpVH4TAt0FEPvfHiB2Pz9d1.jpg'" alt="">
        </mat-card-title-group>
        <mat-card-actions align="end">
            <button mat-button>+ Добавить в избранное</button>
        </mat-card-actions>
    </mat-card>
</div>