
<section class="movie_wrapper" [@opacityAnimation] = "state">
    <mat-card class="movie_wrapper__content">
        <div class="movie_wrapper__content__img">
            <h1>
                {{getMovie().title}}
            </h1>
            <h2 *ngIf="getMovie().isFavorite" class="movie_wrapper__content__img__is_favorite">
                В избранном
            </h2>
            <img [src]="'https://image.tmdb.org/t/p/w300/'+getMovie().poster_path" [alt]="getMovie().title" (error)="errorHandler($event)">
            <button mat-stroked-button color="primary" *ngIf="!getMovie().isFavorite" (click)="addFavoriteMovie()">Добавить в избранное</button>
            <button mat-stroked-button color="warn" *ngIf="getMovie().isFavorite" (click)="delFavoriteMovie()">Удалить из избранного</button>     
        </div>
        <div class="movie_wrapper__content__title">
            
            <ul>
                <li><h2>Жанры:</h2><p>{{getGenres()}}</p></li>
                <li><h2>Год выхода:</h2><p>{{getMovie().release_date.slice(0,4)}}</p></li>
                <li><h2>Рейтинг:</h2><p>{{getMovie().vote_average}}</p></li>
                <li><h2>Страна:</h2><p>{{getCountres()}}</p></li>
                <li><h2>Производство:</h2><p>{{getCompanies()}}</p></li>
                <li><h2>Бюджет:</h2><p>{{getMovie().budget}}</p></li>
            </ul>
            <div class="movie_wrapper__content__title__descr">
                <h2>Описание</h2>
                <p>{{getMovie().overview}}</p>
            </div>
        </div>
    </mat-card>
    <mat-card class="movie_wrapper__recommendations_title">
        <h1>
            Рекомендации
        </h1>
    </mat-card>
    <div class="movie_wrapper__recommendations_content">
        <div class="movie_wrapper__recommendations_content__list">
            <card *ngFor="let movie of getRecommend(); let i = index" [movie]=movie></card>
        </div>
    </div>
</section>


